@media (prefers-color-scheme: dark) {
    :root {
        --color: #dfdfdf;
        --background: #023530;
        --a: #42b983;
        --page-element-background-transparent: #00000075;
        --page-element-background: #000b0a;
        --username-color: #b4b4b4;
        --button-background: #FFFFFF26;
        --button-color-hover: #3434344C;
        --button-color-selected: #FFFFFF26;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color: #111111;
        --background: #556263FF;
        --a: #102b1f;
        --page-element-background-transparent: #e8e8e8d9;
        --page-element-background: #ececec;
        --username-color: #2a2a2a;
        --button-background: #C4C4C426;
        --button-color-hover: #3434344C;
        --button-color-selected: #BFBFBF94;
    }
}