:root {
    color-scheme: light dark;
}

html {
    font-family: "Noto Sans", serif;
    color: var(--color);
    background: var(--background);
    height: 100vh;
    min-width: 320px;

}

html body {
    max-height: 100vh;
    height: -webkit-fill-available;
}

[data-whatinput="keyboard"] *:focus,
[data-whatinput="keyboard"] *:focus-visible {
    outline: 3px dashed var(--color);
}

[data-whatinput="mouse"] *:focus,
[data-whatinput="mouse"] *:focus-visible
*:focus {
    outline: none;
}

[data-whatintent="touch"] *:focus {
    outline: none;
}

#app {
    display: flex;
    flex-direction: column;
    height: 99%;
}

.page-element {
    width: 500px;
    margin: 0 auto;
    padding: 2rem 2rem 0;
    background: var(--page-element-background-transparent);

}

.page-element:last-of-type {
    padding-bottom: 2rem;
}

@media (max-width: 587px) {
    .page-element {
        width: 90%;
        margin: 0 auto;
        padding: 1rem 1rem 0;

    }

    .page-element:last-child {
        padding-bottom: 1rem;
    }
}